<div class="page page-table" data-ng-controller="banktodolistController">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Listado de to-do list</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                              
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                
                <th><div class="th">
                Nombre
                <span class="fa fa-angle-up"
                    data-ng-click=" order('name') "
                    data-ng-class="{active: row == 'name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-name') "
                    data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th><div class="th">
                Descripción
                <span class="fa fa-angle-up"
                    data-ng-click=" order('description') "
                    data-ng-class="{active: row == 'description'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-description') "
                    data-ng-class="{active: row == '-description'}"></span>
                </div></th>
                <th><div class="th">
                Banco
                <span class="fa fa-angle-up"
                    data-ng-click=" order('tbank.name') "
                    data-ng-class="{active: row == 'tbank.name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-tbank.name') "
                    data-ng-class="{active: row == '-tbank.name'}"></span>
                </div></th>
                <th><div class="th">
                Generar To-Do List
                </div></th>

                <th><div class="th">
                Modificar
                </div></th>
                
                <th><div class="th">
                Administrar
                </div></th>
                
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="todolist in currentPageList">

                <td>{{todolist.name}}</td>
                <td>{{todolist.description}}</td>
                <td>{{todolist.tbank.name}}</td>
                <td><button class="btn btn-success" data-ng-click="generateUserToDoList(todolist.idtBank_to_do_list)">Generar</button></td>
                <td><button class="btn btn-info" data-ng-click="modifyToDoList(todolist.idtBank_to_do_list)">Modificar</button></td>
                <td><button class="btn btn-info" data-ng-click="consultToDoList(todolist.idtBank_to_do_list)">Seleccionar</button></td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredToDoList.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>
