<section class="page-form-ele page" ng-controller="banktodolistAdminItemsController">
<div class="row ui-section">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Administrar to-do list</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form">
                                <div layout-padding>
                                    <form name="form_banktodolistAdminItems" class="form-validation" novalidate data-ng-submit="submitForm($event)">
                                                                           
                                        </md-input-container>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Nuevo item</label>
                                                <input type="text"
                                            class="form-control"
                                            required
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="form.name">
                                            </md-input-container>

                                            <!-- 
                                            <md-input-container flex>
                                                <label>Banco</label>
                                                    <md-select ng-model="form.bank" aria-label="select" required>
                                                    <md-option ng-repeat="bank in banks" value="{{bank.idBank}}"> {{bank.name}} </md-option>
                                                    </md-select>
                                            </md-input-container>
                                          </div>
                                          <div layout layout-sm="column">
                                          <md-input-container flex>
                                                <label>Descripción</label>
                                                <input type="text"
                                            class="form-control"
                                            required
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="form.description">
                                            </md-input-container> -->
                                          </div>
                                          <md-button type="submit"
                                class="btn btn-primary btn-w-md"
                                data-ng-disabled="!canSubmit()">Agregar</md-button>
                                    </form>

                                    <div class="alert alert-info" data-ng-show="showInfoOnSubmit">Se ha agregado el item</div>
                                </div>

                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                <table class="table table-striped table-bordered no-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="item in items">
                                                        <td>{{item.name}}</td>
                                                       <td><button class="btn btn-danger" data-ng-click="">Eliminar</button></td>
                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
