<div class="page">
	<section class="row ui-section" ng-controller="MyPropertiesController">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Propiedades</h2>
        </div>
        <div class="col-md-12">
            <div class=column ng-repeat="property in propertiesList | limitTo:quantity">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="{{property.tpropertyImages[0].propertyImage}}" height="200">
                            <span class="card-title">{{property.price | currency}} - {{property.tdistrict.name}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{property.address}}</p>
                        </div>
                        <div class="card-action">
                            <md-button data-ng-click="modifyProperty(property.idProperty)" class="md-fab md-mini md-primary" aria-label="edit"><i class="fa fa-pencil fa-fw"></i></md-button>
                            <md-button data-ng-click="deleteProperty(property.idProperty, $event)" class="md-fab md-mini md-warn" aria-label="delete"><i class="fa fa-trash-o fa-lg"></i></md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </section>
</div>