
<section class="page-form-ele page" ng-controller="PropViewController">
	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
			<h2 class="section-header">Propiedad en
				{{property.tdistrict.name}} para {{property.saleType}}</h2>
		</div>
		<div class="col-md-12">
			<section class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">


                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="userForm">
                                    	<div class="col-xl-12">
          					  				<div class="panel panel-default">
                								<div class="panel-body padding-lg-h">
			                                    	<div class="row">
								                        <div class="col-md-4">
								                            <div class="ih-item ih-material" ng-repeat="image in imageList">
								                                <a href="javascript:;">
								                                    <div class="img">
								                                        <img ng-src="{{image.propertyImage}}" alt="">
								                                    </div>
								                                    <!-- <div class="info">
								                                        <div class="info-mask bg-primary"></div>
								                                        <div class="info-content">
								                                            <div class="info-inner">
								                                                <p>Zoom Icon</p>
								                                            </div>
								                                        </div>
								                                    </div> -->
								                                </a>
								                            </div>                            
								                        </div>
					                   	 			</div>
					                    		</div>
					                    	</div>
					                    </div>
                                    	<div layout layout-sm="column">
                                    		<md-input-container flex>
	                                        	<label>Provincia</label>
	                                            <md-select ng-model="selectedProvince" aria-label="select" 
	                                            ng-change="onChangeProvince()" ng-model-options="{trackBy: '$value.idProvince'}" disabled>
		                                             <md-option ng-repeat="province in provinceList" ng-value="province">
		                                             	{{province.name}}
		                                             </md-option>
	                                             </md-select>
	                                        </md-input-container>
	                                        <md-input-container flex>
	                                            <label>Cantón</label>
	                                            <md-select ng-model="selectedCounty" aria-label="select" 
	                                            ng-change="onChangeCounty()" ng-model-options="{trackBy: '$value.idCounty'}" disabled>
	                                                <md-option ng-repeat="county in countyList" ng-value="county">
	                                                    {{county.name}}
	                                                </md-option>
	                                            </md-select>
	                                        </md-input-container>
	                                        <md-input-container flex>
	                                            <label>Distrito</label>
	                                            <md-select ng-model="selectedDistrict" ng-model-options="{trackBy: '$value.idDisctrict'}" disabled>
	                                                <md-option ng-repeat="district in districtList" ng-value="district">
	                                                   {{district.name}}
	                                                </md-option>
	                                            </md-select>
	                                        </md-input-container>
	                                    </div>
                                        <md-input-container class="md-block">
                                            <label>Dirección</label>
                                            <input ng-model="property.address" disabled>
                                        </md-input-container>
                                        <md-chips ng-model="property.tbenefits" readonly="true" 
                                        	delete-button-label="Eliminar etiqueta"
				                            md-transform-chip="ctrl.transformChip($chip)"
				                            secondary-placeholder="+Beneficios"
				                            md-require-match="true">
				                            	<md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="requestObject.searchText" 
				                                    md-items="item in querySearch(requestObject.searchText)" md-item-text="item.benefit" 
				                                    placeholder="Beneficios">
					                                   	<span md-highlight-text="requestObject.searchText">
					                                    	{{item.benefit}}
					                                    </span>
				                                </md-autocomplete>
				                               	<md-chip-template>
				                                   <span>
				                                   		{{$chip.benefit}}
				                                    </span>
				                                </md-chip-template>
				                        </md-chips>
				                        <div class="divider divider-md"></div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Precio</label>
                                                <input ng-model="property.price" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Tipo de propiedad</label>
                                                <md-select ng-model="selectedType" ng-model-options="{trackBy: '$value.idPropertyType'}" disabled>
                                                    <md-option ng-repeat="type in propertyTypeList" ng-value="type">
                                                        {{type.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                        	<md-input-container flex>
                                                <label>Metros de construcción</label>
                                                <input ng-model="property.squareMeters" disabled>
                                            </md-input-container>
                                        </div>
                                        <div class="row">
                                          	<div class="col-md-12">
                                          		<section class="panel panel-default">
                                          			<div class="panel-body">
                                          				<map class="ui-map" zoom="16" center="{{property.coordinates}}" scrollwheel="false">
								                            <marker position="{{property.coordinates}}" title="drag me" draggable="false"></marker>
								                        </map>
								                    </div>
								                </section>
								            </div>
								        </div>						
                                    </form>
                                    <p>Calificaci&oacute;n general de la Propiedad</p>


									<uib-rating class="ui-rating size-h4 ui-rating-warning"
										ng-model="average" max="max" readonly="true"
										on-leave="overStar = null" state-on="'fa fa-star'"
										state-off="'fa fa-star-o'"></uib-rating>
										
                                    <div class="divider divider-dashed divider-md pull-in"></div>
										
									<p>Mi calificaci&oacute;n</p>



										<uib-rating class="ui-rating size-h4 ui-rating-warning"
											ng-model="rate" max="max" on-hover="hoveringOver(value)"
											readonly="myReadOnly" on-leave="overStar = null"
											data-ng-click="saveRating(rate)" state-on="'fa fa-star'"
											state-off="'fa fa-star-o'"></uib-rating>
										<div class="form-group">

											<br> <label for="">Comentario</label>
											<textarea class="form-control" rows="4" required
												data-ng-hide="myCommentTextArea"
												data-ng-model="form.comment"></textarea>
											<p data-ng-hide="myCommentP">"Lorem ipsum dolor sit amet,
												consectetur adipiscing elit, sed do eiusmod tempor
												incididunt ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrud exercitation ullamco laboris nisi
												ut aliquip ex ea commodo consequat. Duis aute irure dolor in
												reprehenderit in voluptate velit esse cillum dolore eu
												fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id
												est laborum."</p>
										</div>

										<p class="btn" data-ng-hide="edit"
											data-ng-click="editReview()">
											<i class="zmdi zmdi-edit"></i> Editar
										</p>

										<div class=row>
											<div class="col-md-6">
												<button type="submit" ui-wave
													class="btn btn-primary btn-w-md" data-ng-hide="isCreated"
													data-ng-click=saveReview()>{{btnRateAndComment}}</button>
											</div>
										</div>
										
										<div class="alert alert-info" data-ng-show="showInfo">Se guardo
										la calificaci&oacute;n</div>
										
										<div class="divider divider-dashed divider-md pull-in"></div>

									<!--<h3>Reportar Vendedor</h3>
										<div class="panel-body padding-md">
											<h4>Se encuentra inconforme con el vendedor de esta
												propiedad?</h4>
											<div class="divider"></div>
											<md-button class="md-raised btn-w-sm md-primary"
												ng-click="reportVendor()">Reportar</md-button>
										</div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>

<section class="page-form-ele page" ng-controller="PropViewController">

<div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Financiamiento</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-xl" data-ng-controller="ModalDemoCtrl">
                    <div class="col-lg-8 col-lg-offset-2">



                        <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-header">
                                <h3>Calculo del préstamo</h3>
                            </div>
                            <div class="modal-body">

                                <div layout="column" ng-cloak class="md-inline-form">
                                <div layout-padding>
                                    <form name="form_banktodolistCreate" class="form-validation" novalidate data-ng-submit="submitForm($event)">
                                       
                                        
                                        </md-input-container>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Precio de la casa</label>
                                                <input type="text"
                                            class="form-control"
                                            required
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="calculatorForm.amount">
                                            </md-input-container>

                                          </div>
                                          <div layout layout-sm="column">
                                          <md-input-container flex>
                                                <label>Monto mínimo de la prima</label>
                                                <input type="text"
                                            class="form-control"
                                            disabled
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="calculatorForm.minAmount">
                                            </md-input-container>
                                          </div>
                                          <div layout layout-sm="column">
                                          <md-input-container flex>
                                                <label>Cuota aproximada</label>
                                                <input type="text"
                                            class="form-control"
                                            disabled
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="calculatorForm.quota">
                                            </md-input-container>
                                          </div>
                                          <div layout layout-sm="column">
                                          <md-input-container flex>
                                                <label>Monto a financiar</label>
                                                <input type="text"
                                            class="form-control"
                                            disabled
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="calculatorForm.financingAmount">
                                            </md-input-container>
                                          </div>
                                          <div layout layout-sm="column">
                                          <md-input-container flex>
                                                <label>Ingreso neto familiar</label>
                                                <input type="text"
                                            class="form-control"
                                            disabled
                                            name="type_something"
                                            data-ng-trim='false'
                                            data-ng-model="calculatorForm.netFamilyIncome">
                                            </md-input-container>
                                          </div>
                                          <button type="submit" ui-wave class="btn btn-primary btn-w-md"
                                    data-ng-disabled="!canSubmit()" ng-click="calculate()">Calcular</button>


                                    </form>
                                    <div class="alert alert-warning">Recuerde que el cálculo es solo un estimado</div>
                                </div>
                            </div>


                            </div>
                            <div class="modal-footer">
                                <button ui-wave class="btn btn-flat btn-primary" ng-click="cancel()">OK</button>
                            </div>
                        </script>

                        <md-button class="md-raised btn-w-md md-primary" ng-click="open()">Calcular Financiamiento de la propiedad</md-button>
                        <span class="space"></span>
                        

                  </div>
                </div>
            </section>
        </div>
    </div>
</section>