<style>
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box {
	width: 200px;
	padding: 5px;
	margin: 7px;
	float: left;
	min-height: 200px;
	border: 1px solid #ddd;
	overflow: hidden;
}
</style>

<div class="page-form-ele page" data-ng-controller="CreatePropController as ctrl">
<div class="row ui-section">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Registrar Propiedad</h2> </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form">
                                <div layout-padding>
                                    <form id="propertiesForm" class="form-validation" name="propertiesForm" flow-init data-ng-submit="saveProperty($event, $flow.files)">
                                    	<div class="row">
	                                    	<div class="gallery-box" ng-repeat="file in $flow.files">
	                                    		<div class="thumbnail" ng-show="$flow.files.length">
	                                    			<img flow-img="file"/>
	                                    		</div>
	                                    		<div class="btn-group">
	                                    			<a class="btn btn-xs btn-danger" ng-click="file.cancel()">Remover</a>
	                                    		</div>
	                                    	</div>
                                    	</div>
                                    	<span class="btn btn-default" flow-btn ng-hide="canAddImg($flow.files.length)">
                                    		Subir imágenes
                                    		<input type="file" 
                                    			style="visibility:hidden; position:absolute" 
                                    			multiple="multiple"/>
                                    	</span>
                                    	<div class="divider divider-xl"></div>
                                    	<p class="col-md-12">
                                    		<p style="display: inline-block; width: 100px;">Desea </p>
	                                    	<md-radio-group class="ui-md-radio-group-inline" ng-model="requestObject.selectedSaleType" required>
			                                    <md-radio-button value="Alquiler">Alquilar</md-radio-button>
			                                    <md-radio-button value="Venta">Vender</md-radio-button>
			                                </md-radio-group>
		                                </p>
		                                <div class="divider divider-lg divider-dashed"></div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Provincia</label>
                                                <md-select ng-model="requestObject.province" aria-label="select"
                                                ng-change="onChangeProvince()" required>
                                                    <md-option ng-repeat="province in provinceList" ng-value="province.idProvince">
                                                        {{province.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Cantón</label>
                                                <md-select ng-model="requestObject.county" aria-label="select" 
                                                ng-change="onChangeCounty()" required>
                                                    <md-option ng-repeat="county in countyList" ng-value="county.idCounty">
                                                        {{county.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Distrito</label>
                                                <md-select ng-model="requestObject.district" aria-label="select" required>
                                                    <md-option ng-repeat="district in districtList" ng-value="district.idDisctrict">
                                                       {{district.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                          <md-input-container flex>
                                              <label>Dirección exacta</label>
                                              <input ng-model="requestObject.address" md-maxlength="150" required/>
                                          </md-input-container>
                                          </div>
										<div class="row">
											<div class="col-lg-11">
												<md-chips ng-model="ctrl.tags" readonly="ctrl.readonly"
													delete-button-label="Eliminar etiqueta"
													md-transform-chip="ctrl.transformChip($chip)"
													secondary-placeholder="Características de la propiedad"
													md-require-match="true" required> <md-autocomplete
													md-selected-item="ctrl.selectedItem"
													md-search-text="requestObject.searchText"
													md-items="item in querySearch(requestObject.searchText)"
													md-item-text="item.benefit" placeholder="Características">
												<span md-highlight-text="requestObject.searchText">
													{{item.benefit}} </span> </md-autocomplete> <md-chip-template> <span>
													{{$chip.benefit}} </span> </md-chip-template> </md-chips>
											</div>
											<div class="col-lg-1 benefit-alignment">
												<benefits></benefits>
											</div>
										</div>
										<div class="divider divider-md"></div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Precio ($)</label>
                                                <input type="number" class="form-control" 
                                                ng-model="requestObject.price" pattern="(?!0+)\d+" min="0" data-ng-maxlength=10 required/>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Tipo propiedad</label>
                                                <md-select ng-model="requestObject.type" required>
                                                    <md-option ng-repeat="type in propertyTypeList" value="{{type.idPropertyType}}">
                                                        {{type.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                          </div>
                                          <div layout layout-sm="column">
	                                          <md-input-container flex>
	                                              <label>Metros cuadrados</label>
	                                              <input type="number" class="form-control" 
	                                              ng-model="requestObject.meters" pattern="(?!0+)\d+" min="0" data-ng-maxlength=10 required/>
	                                          </md-input-container>
                                          </div>
                                          
                                          <div class="row">
                                          	<div class="col-md-12">
                                          		<section class="panel panel-default">
                                          			<div class="panel-body">
                                          				<map class="ui-map" zoom="11" center="[9.928003, -84.094463]" scrollwheel="false">
								                            <marker position="[9.928003, -84.094463]" title="drag me" draggable="true" on-dragend="markerPos()"></marker>
								                        </map>
								                    </div>
								                </section>
								             </div>
								           </div>
	                                      <md-button type="submit" class="md-raised btn-w-md md-primary" 
	                                      	data-ng-disabled="!canSubmit($flow.files.length)">Guardar</md-button>
		                                  <div class="divider"></div>
                                    	  <div class="alert alert-info" data-ng-show="showInfoOnSubmit">
                                    	  	Propiedad registrada satisfactoriamente!
                                    	  </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>