<div class="page page-table" ng-controller="CompareController">
	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
			<h2 class="section-header">Table</h2>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table no-margin">
						<thead>
							<tr>
								<th>Información General</th>
								<th>Propiedad en {{property1.tdistrict.name}}</th>
								<th>Propiedad en {{property2.tdistrict.name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Precio</td>
								<td>{{property1.price}}</td>
								<td>{{property2.price}}</td>
							</tr>
							<tr>
								<td>Características de la propiedad</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Tipo</td>
								<td>{{property1.tpropertyType.name}}</td>
								<td>{{property2.tpropertyType.name}}</td>
							</tr>
							<tr>
								<td>M<sup>2</sup> de construcción</td>
								<td>{{property1.squareMeters}}</td>
								<td>{{property2.squareMeters}}</td>
							</tr>
							<tr>
								<td>Detalles</td>
								<td>
									<a data-ng-click="viewProperty(property1.idProperty)" 
									href="#/templates/propertiesView/propertyView" class="btn btn-primary">Ver</a>
								</td>
								<td>
									<a data-ng-click="viewProperty(property2.idProperty)" 
									href="#/templates/propertiesView/propertyView" class="btn btn-primary">Ver</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>