<div class="page">
	<section class="row ui-section" ng-controller="PropertiesListController">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Propiedades</h2>
        </div>
        <div class="col-md-12" ng-repeat="property in propertiesList">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="{{property.tpropertyImages[0].propertyImage}}">
                            <span class="card-title">{{property.tcounty.name}} - {{property.tdistrict.name}}</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                            </a>
                            <p>{{property.address}}</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </section>
</div>