 
    <div class="nav-wrapper" data-ng-controller="permissionsController">
        <ul id="nav" 
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active
        data-ng-controller="permissionsController"
        >
            <li class="nav-title"> <span data-translate="MENU"></span></li>

            <li ng-show="showAdmin"><a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-wrench"></i>
                <span>Administración</span></a>
                <ul ng-show="viewUsers">
                    <li><a md-button aria-label="meanu" href="#/templates/usersView/usersList"><i class="fa fa-circle color-success"></i><span>Administrar Usuarios</span></a></li>
                </ul>
                <ul ng-show="viewRoles">
                    <li class="li-small"><a href="#/templates/roleView/roles"><i class="fa fa-circle color-success"></i> <span>Administrar Roles</span></a></li>
                </ul>
                
                <ul ng-show="adminTodolist">
                    <li><a md-button aria-label="meanu" href="#/templates/banktodolistView/banktodolistAdminList"><i class="fa fa-circle color-success"></i><span>Administrar Lista de Tareas</span></a></li>
                </ul>

                
                <ul ng-show="viewEvents"  style="{{eventShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/eventsView/eventListAdmin"><i class="fa fa-circle color-success"></i><span>Administrar Eventos</span></a></li>
                </ul>
            </li>
                

            <li ng-show="showPrincipal"><a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-widgets"></i>
                <span>Principal</span></a>
                
                <ul ng-show="viewTodolist" style="{{makeShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/banktodolistView/banktodolistList"><i class="fa fa-circle color-success"></i><span>Tareas del banco</span></a></li>
                </ul>
                
                <ul ng-show="test" style="{{makeShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/testView/testFlow"><i class="fa fa-circle color-success"></i><span>Propiedades Personalizadas</span></a></li>
                </ul>
                
                <ul ng-show="viewGuides" style="{{makeShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/guidesView/consultGuide"><i class="fa fa-circle color-success"></i><span>Consultar guias</span></a></li>
                </ul>
                <ul ng-show="viewMyTodolist" style="{{makeShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/toDoListView/listToDoList"><i class="fa fa-circle color-success"></i><span>Mis Listas de Tareas</span></a></li>
                </ul>
                 
            </li>
            <li ng-show="showProperties"><a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-home"></i>
                <span>Propiedades</span></a>

                <ul ng-show="addProperty">
                    <li><a md-button aria-label="meanu" href="#/templates/propertiesView/propertiesCreate"><i class="fa fa-circle color-success"></i><span>Registrar Propiedad</span></a></li>
                </ul>
                
                 <ul ng-show="myProperties">
                    <li><a md-button aria-label="meanu" href="#/templates/propertiesView/myPropertiesView"><i class="fa fa-circle color-success"></i><span>Mis propiedades</span></a></li>
                </ul>
                
                <ul ng-show="viewProperties" style="{{propShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/propertiesView/propertiesList"><i class="fa fa-circle color-success"></i><span>Ver Propiedades</span></a></li>
                </ul>

                <ul ng-show="viewFavorites" style="{{propShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/propertyFavoritesView/favoritesList"><i class="fa fa-circle color-success"></i><span>Mis propiedades favoritas</span></a></li>
                </ul>
            </li>

            <li ng-show="showEvents"><a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-local-bar"></i>
                <span>Eventos</span> </a>


                <ul ng-show="eventList" style = "{{eventShow()}}">
                    <li><a md-button aria-label="meanu" href="#/templates/eventsView/eventsList"><i class="fa fa-circle color-success"></i><span>Lista de Eventos</span></a></li>
                </ul>

                <ul ng-show="addEvent">
                    <li><a md-button aria-label="meanu" href="#/templates/eventsView/createEvent"><i class="fa fa-circle color-success"></i><span>Agregar Evento</span></a></li>
                </ul>
                
            </li>

            <li ng-show="sellersView"><a md-button aria-label="meanu"  href="#/templates/usersView/vendorsList"><i class="zmdi zmdi-accounts-alt"></i>
                <span>Ver vendedores</span></a></li>

            <li ng-show="showReports"><a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-assignment"></i>
                <span>Reportes</span></a>
                <ul ng-show="sellsReport">
                    <li><a md-button aria-label="meanu" href="#/templates/salesReportView/salesReport"><i class="fa fa-circle color-success"></i><span>Reporte de ventas</span></a></li>
                </ul>
                <ul ng-show="banksReport">
                    <li><a md-button aria-label="meanu" href="#/templates/reportsView/bankReport"><i class="fa fa-circle color-success"></i><span>Reporte de bancos</span></a></li>
                </ul>
                
            </li>
        </ul>
</div>
