<div class="page page-profile"
	data-ng-controller="ConsultUserController">

	<header class="profile-header">
		<div class="profile-img">
			<img alt="" src={{user.userImage}} class="img-circle" width=100
				height=100>
		</div>



		<div class="profile-info">
			<p>{{user.userName}} {{user.firstName}} {{user.lastName}}</p>

		</div>
	</header>

	<div class="divider divider-lg"></div>



	<div class="col-sm-8">
		<div class="panel mini-box">
			<h3>Descripci&oacute;n del evento</h3>
			<p></p>



			<h3>Fecha del evento</h3>
			<p></p>



		</div>
	</div>

	<div class="divider divider-lg"></div>
	</div>