<div class="page page-profile"
	data-ng-controller="ConsultUserController">

	<header class="profile-header">
		<div class="profile-img">
			<img alt="" src={{user.userImage}} class="img-circle" width=100
				height=100>
		</div>



		<div class="profile-info">
			<p>{{user.userName}} {{user.firstName}} {{user.lastName}}</p>
		</div>

	</header>

	<div class="divider divider-lg"></div>



	<div class="col-sm-12">


		<div class="panel mini-box">
			<div class="row">
				<div class="col-sm-6">
					<h3>Fecha de nacimiento:</h3>
					<p>{{user.birthday}}</p>



					<h3>G&eacute;nero</h3>
					<p>{{user.gender}}</p>

				</div>
				<div class="col-sm-6">
	
					<h3>Correo</h3>
					<p>{{user.email}}</p>
					
					<h3>Tel&eacute;fono:</h3>
					<p>{{user.phone1}}</p>

				</div>
			</div>
			</div>

	<div class="divider divider-lg"></div>
</div>