
<style>
.thumbnail {
	max-width: 200px;
	max-height: 150px;
	line-height: 20px;
	margin-bottom: 5px;
}
</style>
<section class="page-form-ele page">
	<div class="row ui-section" data-ng-controller="CreateUserLoginController"
		flow-init>

		<div class="col-lg-8 clearfix">
			<h2 class="section-header">Crear usuario</h2>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form name="form_createUser" class="form-validation" novalidate
						data-ng-submit="submitForm($event,$flow.files)">

						<div class="row">
							<div>
								<div class="col-lg-8 collg-offset-2">

									<div>
										<div data-ng-hide="$flow.files.length">
											<img class="thumbnail"
												src="/propiedadesCR/resources/images/default_user_image.png"
												width="200" height="200" />
										</div>

										<div data-ng-show="$flow.files.length">
											<img class="thumbnail" flow-img="$flow.files[0]" width="200"
												height="200" />
										</div>

										<div>
											<span class="btn btn-default" flow-btn
												data-ng-hide="$flow.files.length"> Subir foto de
												perfil <input type="file"
												style="visibility: hidden; position: absolute;"
												multiple="multiple" />

											</span> <a class="btn btn-danger" data-ng-show="$flow.files.length"
												data-ng-click="$flow.files[0].cancel()"> Remover </a>
										</div>
									</div>

								</div>

							</div>
						</div>


						<div layout layout-sm="column">
							<md-input-container flex=35> <label for="">Nombre</label>
							<input type="text" class="form-control" data-ng-minlength="2"
								data-ng-maxlength="10" required data-ng-model="form.name">
							<span></span> </md-input-container>

						</div>

						<div layout layout-sm="column">
							<md-input-container flex=35> <label for="">Primer
								apellido</label> <input type="text" class="form-control"
								data-ng-minlength="2" data-ng-maxlength="20" required
								data-ng-model="form.firstName"> <span></span> </md-input-container>

							<md-input-container flex=35> <label for="">Segundo
								apellido</label> <input type="text" class="form-control" 
								data-ng-minlength="2" data-ng-maxlength="20" required
								data-ng-model="form.lastName"> <span></span> </md-input-container>


						</div>



						<div class="row">
							<div class="col-lg-4">
								<label> Fecha de nacimiento </label>
								<div class="input-group ui-datepicker">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{format}}"
										data-ng-model="form.birthday" is-open="popup1.opened"
										min-date="minDate" max-date="maxDate"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)" data-ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats" /> <span
										class="input-group-addon" ng-click="open1()"><i
										class="fa fa-calendar"></i></span>
								</div>
							</div>
						</div>

						<div layout layout-sm="column">
							<md-input-container flex=35> <label for="">Tel&eacute;fono
								1</label> <input type="text" class="form-control" 
								data-ng-minlength="5" data-ng-maxlength="15" required
								data-ng-model="form.phone1"> <span></span> </md-input-container>

							<md-input-container flex=35> <label for="">Tel&eacute;fono
								2</label> <input type="text" class="form-control" 
								data-ng-minlength="5" data-ng-maxlength="15" required
								data-ng-model="form.phone2"> <span></span> </md-input-container>

						</div>


						<div layout layout-sm="column">
							<md-input-container flex=35> <label for="">Email</label>
							<input type="email" class="form-control" 
							data-ng-minlength="10" data-ng-maxlength="30" required
								data-ng-model="form.email" data-ng-pattern="/^.+@.+\..+$/">
							<span></span> </md-input-container>
							
						</div>
						
						<p data-ng-show="emailExist">El correo ingresado ya existe en
							la aplicaci&oacute;n</p>
						
						<div layout layout-sm="column">
							<md-input-container flex=35>
							<label>Rol</label> <md-select ng-model="form.role"
								aria-label="select" required> <md-option
								ng-repeat="role in roles" value="{{role.idRole}}" required>
							{{role.rolName}} </md-option> </md-select> </md-input-container>
						</div>

						<div layout layout-sm="column">
							<md-input-container flex=35> <label for="">Contrase&ntilde;a</label>
							<input type="password" class="form-control" name="password"
								data-ng-trim='false' data-ng-model="form.password"
								data-ng-minlength="8" data-ng-maxlength="20"
								title="La contraseña debe contener al menos una mayuscúla, una minuscúla, un caracter especial(número o símbolo), mínimo 8 caracteres y máximo 20"
								data-ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
								required>
							<span></span> </md-input-container>

							<md-input-container flex=35> <label for="">Confirme
								contrase&ntilde;a</label> <input type="password" class="form-control"
								required name="confirmPassword" data-ng-trim='false'
								data-ng-model="form.confirmPassword" data-match="form.password">
							<span></span> </md-input-container>

						</div>
						<p>
							<strong style="display: inline-block; width: 100px;">G&eacute;nero</strong>
							<md-radio-group required class="ui-md-radio-group-inline"
								ng-model="form.gender"> <md-radio-button
								value="Hombre">Hombre</md-radio-button> <md-radio-button
								value="Mujer">Mujer</md-radio-button> <md-radio-button
								value="Intergénero">Interg&eacute;nero</md-radio-button> </md-radio-group>
						</p>



						<div class=row>
							<div class="col-md-6">
								<button type="submit" ui-wave class="btn btn-primary btn-w-md"
									data-ng-disabled="!canSubmit()">Guardar</button>
							</div>

						</div>

						<div class="alert alert-info" data-ng-show="showInfoOnSubmit">Se
							ha creado el usuario</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</section>
