<div class="page-forgot" data-ng-controller="forgotPasswordController">


    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#/">{{main.brand}}</a></h1>
                        </section>                    
                        <form class="form-validation">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" required class="form-control"
                                        data-ng-model="form.email" ng-pattern="/^.+@.+\..+$/">
                                        <span class="input-bar"></span>
                                        <label>Email</label>
                                    </div>
                                    <div class="additional-info text-center text-small">
                                   Por favor ingrese el correo con el que se registro
                                    a la aplicaci&oacute;n.
                                   </div>
                               </div>
                           </fieldset>
                       </form>
                       <p data-ng-hide="isCorrect">El correo electr&oacute;nico ingresado es incorrecto</p>
                   </div>
                   <div class="card-action no-border text-right">
                        <a data-ng-click="sendEmail()" 
                        class="color-primary btn btn-link">Cambiar contrase&ntilde;a</a>
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>