<div class="page-signup" data-ng-controller="resetPasswordController">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">

                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#/">{{main.brand}}</a></h1>
                        </section>

                        <form name="form_resetPass" class="form-validation" novalidate>
                            <fieldset>
                                
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="password" class="form-control"
                                        title="La contraseña debe contener al menos una mayuscúla, una minuscúla, un caracter especial(número o símbolo) y más de 8 caracteres"
                                        data-ng-model="form.password" 
                                        data-ng-minlength="8" data-ng-maxlength="20"
                                        title="La contraseña debe contener al menos una mayuscúla, una minuscúla, un caracter especial(número o símbolo), mínimo 8 caracteres y máximo 20"                        
                                        data-ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                        required>
                                        <span class="input-bar"></span>
                                        <label>
                                        Contrase&ntilde;a</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input class="form-control"                
                                        type="password" required class="form-control"
                                        data-ng-model="form.confirmPassword" data-match="form.password">
                                        <span class="input-bar"></span>
                                        <label>Confirmar contrase&ntilde;a</label>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            	<p data-ng-show="notEquals">Las contrase&ntilde;as no coinciden por favor trate de nuevo</p>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a data-ng-disabled="!canSubmit()"
                        data-ng-click="changePassword()"
                        class="btn btn-link">Cambiar contrase&ntilde;a</a>
                       
                    </div>
                </div> 

            </div>
        </div>
    </div>
</div>