<style>
    a.md-button.md-default-theme.md-primary.md-raised, 
    a.md-button.md-primary.md-raised, 
    a.md-button.md-default-theme.md-primary.md-fab, 
    a.md-button.md-primary.md-fab, 
    .md-button.md-default-theme.md-primary.md-raised, 
    .md-button.md-primary.md-raised, 
    .md-button.md-default-theme.md-primary.md-fab, 
    .md-button.md-primary.md-fab {
       left: 28px;
    }
</style>
<div class="page page-table" data-ng-controller="obteinPermissions" >
    <div class="col-log-8 clearfix">
       <h2 class="section-header">Agregar Rol</h2>
    </div>
    <div class="col-md-12">
       <section class="panel panle-default">
            <div class="panel-body padding-x1">
                <div class="row">
                    <div class= "col-md-8 col md-offset-2">
                        <form name="form_addRoles"role="form" class="form-validation" novalidate data-ng-submit="submitForm($event)">
                          <div class="form-group">
                                <div layout layout-sm="column">
                                    <md-input-container flex=70> 
                                        <label for="">Nombre</label>
                                            <input type="text" md-maxlength="40" 
                                        class="form-control" required data-ng-model="form.newRoleName"><span></span></md-input-container>
                                        </div>
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <h4>Permisos </h4>
                                    <div class="divider divider-xl"></div>
                                    <div data-ng-repeat="permissions in permissionsList">
                                        <p>
                                            <md-checkbox ng-init="checkbox.cb1=false" 
                                            ng-model="checkbox.cb1" 
                                            aria-label="Checkbox 1" 
                                            role="checkbox" 
                                            class="ng-valid ng-dirty ng-valid-parse ng-touched md-checked" 
                                            tabindex="0" 
                                            aria-checked="true" 
                                            aria-invalid="false" 
                                            ng-click="addPermissions(permissions.idPermissions,checkbox.cb1)" 
                                            class="checkbox-inline">

                                                <strong style="width: 100px;">
                                                {{permissions.description}}</strong>
                                                    <div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox="">
                                                        <div class="md-icon"></div>
                                                        <div class="md-ripple-container"></div>
                                                    </div>
                                                    <div class="md-label"></div>
                                            </md-checkbox>
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </form>
                <div class=row>
                <div class="col-md-6">
                    <button ng-click="addRoles()" type="submit" ui-wave class="btn btn-primary btn-w-md"
                        data-ng-disabled="canSubmit()">Agregar</button>
                </div>
            </div>
            <div class="alert alert-info" data-ng-show="showInfoOnSubmit">Se ha creado el rol</div>
       </section>
    </div>
</div>

