<div class="page page-table" data-ng-controller="rolesController" >

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Listado de roles</h2>
    </div>
    <div class ="col-xs-1">
    <div class ="col-xs-1">

    </div>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row col-md-12">
            <div class="col-md-3">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-md-8 filter-result-info"></div>
            <div class="col-md-1">
                <button class="md-fab md-button md-ink-ripple editButton " type="button" aria-label="headphones" tooltip-placement="right" uib-tooltip="Agregar" tooltip-append-to-body="true" ng-click="go()">
                    <span class=></span><div class="md-ripple-container"><i class="fa fa-plus" aria-hidden="true"></i></div></button></div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th"> 
                    Nombre
                    <span class="fa fa-angle-up"
                    data-ng-click=" order('roleName') "
                    data-ng-class="{active: row == 'rolName'}"></span>
                    <span class="fa fa-angle-down"
                    data-ng-click=" order('-rolName') "
                    data-ng-class="{active: row == '-rolName'}"></span>
                    </div></th>

                    <th><div class="th">
                        Modificar
                    </div></th>

                    <th><div class="th">
                        Eliminar
                    </div></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-init="metodo($index)">
                <td>Administrador</td>
                <td><a class="btn btn-info" ng-disabled = "true">Modificar</a></td>
                <td><button class="btn btn-danger" ng-disabled = "true">Eliminar</button></td>
            </tr>

            <tr ng-init="metodo($index)">
                <td>Comprador</td>
                <td><a class="btn btn-info" ng-disabled = "true">Modificar</a></td>
                <td><button class="btn btn-danger" ng-disabled = "true">Eliminar</button></td>
            </tr>

            <tr ng-init="metodo($index)">
                <td>Vendedor</td>
                <td><a class="btn btn-info" ng-disabled = "true">Modificar</a></td>
                <td><button class="btn btn-danger" ng-disabled = "true">Eliminar</button></td>
            </tr>

            <tr data-ng-repeat="rolesInSys in rolesList" ng-init="metodo($index)">
                <td>{{rolesInSys.rolName}}</td>
                <td><a class="btn btn-info" data-ng-click="modifyRole(rolesInSys.idRole)"
                href="#/templates/roleView/editRoles">Modificar</a></td>
                <td>
                    <button class="btn btn-danger" 
                    data-ng-click="deleteRole(rolesInSys.idRole, rolesInSys.rolName)">Eliminar</button></td>
            </tr>
            </tbody>
        </table> 

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredRole.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>

</div>
