<div ng-controller="EventsListController">
	 <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="resources/images/assets/600_400-2.jpg">
                            <span class="card-title">Image Card</span>
                        </div>
                        <div class="card-content">
                            <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                                I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;">A link</a>
                            <a href="javascript:;" class="color-primary">A link</a>
                        </div>
                    </div>            
                </div>
</div>