<div class="page" ng-controller="salesReportController" >

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Reporte de ventas</div>
                <div class="panel-body">
                    <div data-echarts data-options="chart.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        
    </div>

</div>