<div class="page">


    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Buscando su mejor opción</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                        
                            <section class="ui-angular-wizard" ng-controller="testFlowController as testCtrl">

                                <!-- <md-button ng-click="stepToggle()" class="md-raised btn-w-md md-accent">Clicking Me Will Toggle Steps On and Off Dynamically</md-button> -->

                                <div class="divider divider-lg"></div>
                                
                                <wizard on-finish="finished()" >
                                    
                                    <wz-step wz-title="{{question.id}}" canexit="" ng-repeat="question in questions">
                                        <h2>{{question.question}}</h2>
                                        <div class="ui-wizard-content">
                                            
                                            <!-- <p><strong>{{question.question}}</strong></p> -->

                                            <div>

                                            <md-radio-group class="ui-md-radio-group-inline" ng-model="radio.selectedOption">

                                                <md-radio-button ng-repeat="option in question.options" ng-value="{{option}}">{{option.option}}</md-radio-button>

                                            
                                            </md-radio-group> 

                                                <!-- <p>
                                                    <md-checkbox ng-init="checkbox.cb1=false" ng-model="checkbox.cb1" aria-label="Checkbox 1" role="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-touched md-checked" tabindex="0" aria-checked="true" aria-invalid="false"
                                                    ng-click="addPermissions(permissions.idPermissions,checkbox.cb1)" class="checkbox-inline">

                                                    <strong style="display: inline-block; width: 100px;">{{option.option}}</strong>
                                                        <div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox="">
                                                            <div class="md-icon">
                                                            </div>
                                                            <div class="md-ripple-container">
                                                            </div>
                                                        </div>
                                                        <div class="md-label">
                                                        </div>
                                                        </md-checkbox>
                                                </p> -->
                                            </div>


                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button wz-reset ng-click="resetAnswers()" class="md-raised btn-w-md md-accent">Reiniciar</md-button>
<!-- 
                                            <md-button ng-hide="firstQuestion()" wz-previous="logStep()"  class="md-raised btn-w-md">Atrás</md-button> -->

                                            <md-button ng-click="catchAnswer(radio.selectedOption,question.id)" ng-disabled="radio.selectedOption==undefined" class="md-raised btn-w-md md-primary">Siguiente</md-button>
                                            
                                        </div>
                                    </wz-step>


                                    <!-- <wz-step wz-title="Liking it" canexit="exitValidation">
                                        <h2>Liking it</h2>
                                        <div class="ui-wizard-content">
                                            <p>You're now in the second step of this wizard.</p>
                                            <p><strong>This step is an example of using <em>canexit</em> validation with no server call, </strong></p>
                                            <p>Toggle the value to true or false using the button below to see an example of being allowed to exit and being restricted.</p>
                                            <md-button ng-click="exitToggle()" class="md-raised btn-w-md md-accent">Toggle Validation!</md-button>
                                            <div class="callout callout-info">
                                                <p>Value is currently: {{canExit}}</p>
                                            </div>
                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button wz-previous="logStep()"  class="md-raised btn-w-md">BACK</md-button>
                                            <md-button wz-next="logStep()" class="md-raised btn-w-md md-primary" ng-disabled="!canExit">NEXT</md-button>
                                        </div>
                                    </wz-step>
                                    <wz-step wz-title="More steps" wz-disabled="{{!stepActive}}">
                                        <h2>More steps</h2>
                                        <div class="ui-wizard-content">
                                            <p>Click on the bottom navigation on Liking it to go back to that step for example</p>
                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button wz-previous="logStep()"  class="md-raised btn-w-md">BACK</md-button>
                                            <md-button wz-next="logStep()" class="md-raised btn-w-md md-primary" ng-disabled="!canExit">NEXT</md-button>
                                        </div>
                                    </wz-step>
                                    <wz-step wz-title="Even more">
                                        <h2>Even More steps</h2>
                                        <div class="ui-wizard-content">
                                            <p>I can't deal with so many steps. ARGH</p>
                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button wz-previous="logStep()"  class="md-raised btn-w-md">BACK</md-button>
                                            <md-button wz-next="logStep()" class="md-raised btn-w-md md-primary">NEXT</md-button>
                                        </div>
                                    </wz-step>
                                    <wz-step wz-title="Sup?">
                                        <h2>Sup?</h2>
                                        <div class="ui-wizard-content">
                                            <p>I don't even know what to write!</p>
                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button wz-previous="logStep()"  class="md-raised btn-w-md">BACK</md-button>
                                            <md-button wz-next="logStep()" class="md-raised btn-w-md md-primary" >NEXT</md-button>
                                        </div>
                                    </wz-step>
                                    <wz-step wz-title="Finish him">
                                        <h2>Finish him</h2>
                                        <div class="ui-wizard-content">
                                            <p>Finally this ends!</p>
                                        </div>
                                        <div class="ui-wizard-actions">
                                            <md-button ng-click="goBack()" class="md-raised btn-w-md md-accent">Restart</md-button>
                                            <md-button wz-reset class="md-raised btn-w-md md-accent">Reset</md-button>
                                            <md-button wz-previous="logStep()"  class="md-raised btn-w-md">BACK</md-button>
                                            <md-button wz-next="logStep()" class="md-raised btn-w-md md-primary">Finish</md-button>
                                        </div>
                                    </wz-step> -->
                                </wizard>
                            </section>
                        </div>
                    </div>
                </div>
            </section>     
        </div>
    </div>
</div>