
<div class="page page-grid">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Bootstrap Grid options</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-striped no-margin">
                        <thead>
                            <tr>
                                <th>
                                    id
                                </th>
                                <th>
                                    nombre
                                </th>
                                <th>
                                    descripcion
                                </th>
                                <th>
                                    banco
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-controller="todolistController">
                            <tr ng-repeat="x in names">
                                <td>{{x.idToDoList}}</td>
                                <td>{{x.name}}</td>
                                <td>{{x.description}}</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    
</div>
