<div class="page page-profile">

	<header class="profile-header">
		<div class="profile-img">
			<img alt="" src="images/logo.png" class="img-circle">
		</div>

	</header>

	<div class="divider divider-lg"></div>
	<div class="row ui-section">
        <!-- <div class="col-lg-8 clearfix">
            <h2 class="section-header">Información</h2>
        </div> -->
        <div class="col-md-12">
        	<div class="panel panel-default">
        		<div class="panel-body">

        			<div class="row">
        				<div class="col-md-6">
        					<div class="panel panel-default panel-minimal">
        						<div class="panel-heading">Lead body</div>
        						<div class="panel-body">
        							<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        						</div>
        					</div>
        				</div>
        				<div class="col-md-6">
        					<div class="panel panel-default panel-minimal">
        						<div class="panel-heading">Lead body</div>
        						<div class="panel-body">
        							<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        						</div>
        					</div>
        				</div>
        			</div>          


        			<div class="row">
        				<div class="col-md-6">
        					<div class="card bg-info">
        						<div class="card-content">
        							<span class="card-title">Card Title</span>
        							<p>Hey there, I am a very simple card. I am good at containing small bits of information.
        								I am quite convenient because I require little markup to use effectively.</p>
        							</div>
        							<div class="card-action">
        								<a href="javascript:;">A link</a>
        								<a href="javascript:;">A link</a>
        							</div>
        						</div> 
        					</div> 
        					<div class="col-md-6">
        						<div class="card bg-info">
        							<div class="card-content">
        								<span class="card-title">Card Title</span>
        								<p>Hey there, I am a very simple card. I am good at containing small bits of information.
        									I am quite convenient because I require little markup to use effectively.</p>
        								</div>
        								<div class="card-action">
        									<a href="javascript:;">A link</a>
        									<a href="javascript:;">A link</a>
        								</div>
        							</div> 
        						</div> 
        					</div>         

        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>