<style>
.divRow{
    
    padding-top: 23px;
    height: 51px;
}

.divProperties{
    padding-top: 33px;
}

.rowContainer{
    padding-top: 20px;
    padding-left: 1px;
    
}

.arrows {
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  color: #339966;
}
</style>

<div class="page page-table" data-ng-controller="tutorialController" >
    <div class="col-xs-12">

        <div class = "col-xs-2 rowContainer">
            <div class = "row divRow">
                <div ng-hide = "principalMenu">
                    <i class="fa fa-chevron-left fa-2x animated arrows shake"></i>
                </div>
            </div>
            <div  class = "row divRow" >
                <div ng-hide = "propertiesMenu">
                    <i class="fa fa-chevron-left fa-2x animated arrows shake"></i>
                </div>
            </div>
            <div  class = "row divRow">
                <div ng-hide = "eventsMenu">
                    <i class="fa fa-chevron-left fa-2x animated arrows shake"></i>
                </div>
            </div>

            <div  class = "row divRow">
                <div ng-hide = "true    ">
                    <i class="fa fa-chevron-left fa-2x animated arrows shake"></i>
                </div>
            </div>
            
        </div>
        <div class = "col-xs-10">
            <section class="panel panle-default">
               <!--  <button class= "btn btn-success"ng-click="showWelcomeDialog()">holi</button> -->
                <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="">
                </div>

                <script type="text/ng-template" id="dialog1.tmpl.html">

                    <md-dialog aria-label="Lucky day"  class=" animated flipInX" ng-cloak>
                        <form>

                            <md-dialog-content>
                                <div class="md-dialog-content">
                                    <h2 >Bienvenido(a) a PropiedadesCR!</h2>
                                    <p style= "font-size:15px">Nuestra meta es que su experiencia de usuario sea la mejor posible.</p>
                                    <p style= "font-size:15px">A continuación le daremos una breve explicación de lo que la aplicación ofrece.</p>
                                </div>
                            </md-dialog-content>
                            <md-dialog-actions layout="row">
                                <span flex></span>
                                <md-button class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="answer('useful',$event)" style="margin-right:20px;">Aceptar</md-button>
                            </md-dialog-actions>
                        </form>
                    </md-dialog>
            </script>

            <script type="text/ng-template" id="dialog2.tmpl.html">
                <md-dialog aria-label="Lucky day" class=" animated fadeInLeft" ng-cloak>
                    <form>

                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <h2>Menú Principal</h2>
                                <p style= "font-size:15px">Para interactuar con las propiedades puede acceder al menú principal</p>
                                <p style= "font-size:15px">Para continuar presione siguiente</p>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button  class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="closePrincPDialog($event)" style="margin-right:20px;">
                                <span class = "fa fa-angle-double-right fa-1x ng-scope"></span>
                                <span class = "ng-scope">Seguiente</span></md-button></md-button>
                         </md-dialog-actions>
                    </form>
                </md-dialog>
            </script>

            <script type="text/ng-template" id="dialog3.tmpl.html">
                <md-dialog aria-label="Lucky day" class=" animated fadeInLeft" ng-cloak>
                    <form>

                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <h2>Menú de Propiedades</h2>
                                <p style= "font-size:15px">Contiene la información de las propiedades disponibles para la venta o alquiler</p>
                                <p style= "font-size:15px">Para continuar presione siguiente</p>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="closePropDialog($event)" style="margin-right:20px;">
                                <span class = "fa fa-angle-double-right fa-1x ng-scope"></span>
                                <span class = "ng-scope">Seguiente</span></md-button>
                        </md-dialog-actions>
                    </form>
                </md-dialog>
            </script>

            <script type="text/ng-template" id="dialog4.tmpl.html">
                <md-dialog aria-label="Lucky day" class=" animated fadeInLeft" ng-cloak>
                    <form>

                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <h2>Menú de Eventos</h2>
                                <p style= "font-size:15px">Contiene la información de los eventos de muestra de casas y le permite asistir a los mismos.</p>
                                <p>Para continuar presione siguiente</p>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="closeEvents($event)" style="margin-right:20px;">
                                <span class = "fa fa-angle-double-right fa-1x ng-scope"></span>
                                <span class = "ng-scope">Seguiente</span></md-button>
                        </md-dialog-actions>
                    </form>
                </md-dialog>
            </script>

            <script type="text/ng-template" id="dialog5.tmpl.html">
                <md-dialog aria-label="Lucky day" class=" animated fadeInLeft" ng-cloak>
                    <form>

                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <h2>Propiedades y sus necesidades</h2>
                                <p style= "font-size:15px">Para encontrar propiedades que se ajusten
                                a sus necesidades puede acceder donde muestra la flecha</p>
                                <p style= "font-size:15px">Para continuar presione siguiente</p>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="closePrincioalQA($event)" style="margin-right:20px;">        <span class = "fa fa-angle-double-right fa-1x ng-scope"></span>
                                <span class = "ng-scope">Seguiente</span></md-button>
                            </md-button>

                         </md-dialog-actions>
                    </form>
                </md-dialog>
            </script>

            <script type="text/ng-template" id="dialog6.tmpl.html">
                <md-dialog aria-label="Lucky day"  ng-cloak>
                    <form>

                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <h2>Propiedades Favoritas</h2>
                                <p>Presione donde indica la flecha,
                                 para ver las propiedades que usted ha marcado como favoritas</p>
                                <p>Para continuar presione siguiente</p>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button class = "md-raised btn-w-md md-accent md-button md-ink-ripple" ng-click="closePrincioalQA($event)" style="margin-right:20px;">        <span class = "fa fa-angle-double-right fa-1x ng-scope"></span>
                                <span class = "ng-scope">Seguiente</span></md-button>
                            </md-button>
                         </md-dialog-actions>
                    </form>
                </md-dialog>
            </script>
        </section>
    </div>
</div>
</div>
